body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "h h"
    "i i"
    "a m"
    "f f";
}

header {
    grid-area: h;
}

.image {
    grid-area: i;
}

aside {
    grid-area: a;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}
