body {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "h h h"
        "a m i"
        "f f f";
}

header {
    grid-area: h;
}

.title,
.subtitle {
    display: flex;
    justify-content: center;
}

.image {
    grid-area: i;
    display: flex;
    justify-content: center;
}

aside {
    max-width: 10rem;
    border: solid black;
    padding: 0 0.5rem;
    margin: 0.5rem;
    grid-area: a;
}

.aside_title {
    display: flex;
    justify-content: center;
}

main {
    grid-area: m;
    margin: 1rem;
}

footer {
    grid-area: f;
}

nav {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "h h"
            "a i"
            "m m"
            "f f";
    }
}

@media screen and (max-width: 400px) {
    body {
        display: flex;
        flex-direction: column;
    }
}
