body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "h"
        "n"
        "f";
    background-image: url("../img/sparvagn29_10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    grid-area: h;
    text-align: center;
}

.title {
    color: black;
}

nav {
    grid-area: n;
    background-color: rgba(255,255,255,0.9);
    width: fit-content;
    height: fit-content;
}

nav a {
    text-decoration: none;
    color: black;
}

footer {
    grid-area: f;
    display: flex;
    justify-content: center;
}

.copyright {
    background-color: rgba(255,255,255,0.9);
}
