body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "h"
        "n"
        "f";
    background-image: url("../img/sparvagn29_10.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80rem 50rem;
}

header {
    display: flex;
    justify-content: center;
    grid-area: h;
}

.title {
    color: black
}

nav {
    grid-area: n;
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    grid-area: f;
}

.copyright {
    color: white;
}
